@page "{id:int?}"
@model ActorsModel
@{
    ViewData["Title"] = "Actors";
}

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birthday
            </th>
            <th></th>
        </tr>
    </thead>
    <div>
        <form asp-page="AddActor" asp-page-handler="AddActor" method="get">
            <button class="btn btn-sm btn-success">
                Add Actor
            </button>
        </form>
    </div>
    <tbody>
        @foreach (var item in Model.Actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorLastName)
                </td>
                <td>
                    @Convert.ToDateTime(item.Birthday).ToString("dd/MM/yyyy")
                </td>
                <td>
                    <form asp-page="ActorUpdate" asp-page-handler="update" asp-route-id="@item.ActorId" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Update
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a style="width: 200px; margin: 0 40%;" asp-page="Index">Back to List</a>
</div>