@page "{id:int?}"
@model AddActorModel
@{
}

<form asp-page="OnPostAsync" method="post">
    <div asp-validation-summary="All"></div>
    <div class="input-group">
        <div class="form-group mb-2">
            <input type="hidden" asp-for="@Model.MovieId" />
            <input class="form-control" asp-for="Actor.FirstName" placeholder="First Name">
            <span asp-validation-for="Actor.FirstName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Actor.LastName" placeholder="Last Name">
            <span asp-validation-for="Actor.LastName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Actor.Birthday" placeholder="Birthday">
            <span asp-validation-for="Actor.Birthday" class="invalid-feedback"></span>
            <label></label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Actor</button>
</form>
<label></label>
<div>
    <a style="width: 200px; margin: 0 40%;" asp-page="Actors" asp-route-id="@Model.MovieId">Back to Actors</a>
</div>
