@page "{id:int?}"
@model AddActorModel
@{
}

<form asp-page="Actors" method="post">
    <div asp-validation-summary="All"></div>
    <div class="input-group">
        <div class="form-group mb-2">
            <input class="form-control" asp-for="ActorFirstName" placeholder="First Name">
            <span asp-validation-for="ActorFirstName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="ActorLastName" placeholder="Last Name">
            <span asp-validation-for="ActorLastName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Birthday" placeholder="Birthday">
            <span asp-validation-for="Birthday" class="invalid-feedback"></span>
            <label></label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Actor</button>
</form>
<label></label>
<div>
    <a style="width: 200px; margin: 0 40%;" asp-page="Actors" asp-route-id="">Back to Actors</a>
</div>
