@page
@model MovieDatabase.Pages.CreateNewMovieModel
@{
}

<form asp-page="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div class="input-group">
        <div class="form-group mb-2">
            <input class="form-control" asp-for="MovieName" placeholder="Movie Title">
            <span asp-validation-for="MovieName" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Duration" placeholder="Duration">
            <span asp-validation-for="Duration" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="ReleaseDate" placeholder="Release Date">
            <span asp-validation-for="ReleaseDate" class="invalid-feedback"></span>
            <label></label>
            <input class="form-control" asp-for="Rating" placeholder="Rating 0-10">
            <span asp-validation-for="Rating" class="invalid-feedback"></span>
            <label></label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Movie</button>
</form>
